<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>fastlms</title>
</head>
<body>
  <div th:fragment="fragment-body-menu">
    <form method="post">
      <div>
        <input type="text" name="userId" placeholder="아이디" required>
      </div>

      <div>
        <input type="password" name="password" placeholder="비밀번호" required>
      </div>

      <div>
        <button type="submit">로그인</button>
      </div>

    </form>
    <div>
      <a href="/register">회원가입</a>
      <a href="/">비밀번호 찾기</a>
    </div>

  </div>

</body>
</html>